.contaider {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: black;
    color: white;
}

.painel{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.square {
    height: 150px;
    width: 150px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 255, 255);
}


.enemy {
    background-color: red;
}